# Runtime (aplikasi) — via Supabase pooler untuk pgbouncer
DATABASE_URL="postgresql://USER:PASSWORD@aws-0-ap-south-1.pooler.supabase.com:6543/postgres?pgbouncer=true"
# Migrasi / prisma migrate — koneksi langsung
DIRECT_URL="postgresql://USER:PASSWORD@aws-0-ap-south-1.pooler.supabase.com:5432/postgres"
JWT_ACCESS_SECRET="ganti-ini-min-32-karakter-dev-saja"
JWT_REFRESH_SECRET="ganti-ini-juga-min-32-karakter-dev-saja"
JWT_ACCESS_EXPIRES="15m"
JWT_REFRESH_EXPIRES="7d"
PORT=3000
UPLOAD_DIR="./uploads"
MAX_FILE_BYTES=5000000
APEL_DEADLINE_TIME="08:00"
CHECKOUT_TIME_WEEKDAY="16:00"
CHECKOUT_TIME_FRIDAY="16:30"
LETTER_UNIT_CODE="KT"
